@font-face {
    font-family: 'Pixel';
    src: url(pixel-font.ttf);
}

body
{
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 15px;
}
a
{
    color:rgb(15, 238, 115);
}

i.subinfo
{
    color: grey;
}

span.special
{
    font-weight: bold;
    color: rgb(15, 238, 15);
}
span.bad
{
    font-weight: bold;
    color: rgb(238, 41, 15);
}
span.lang-sharp
{
    font-weight: bold;
    color: rgb(46, 144, 255);
}
span.lang-js
{
    font-weight: bold;
    color: rgb(255, 192, 17);
}
span.title
{
    font-weight: 900;
    font-size: 40pt;
    font-family: 'Press Start 2P';
}
span.subtitle
{
    font-weight: 600;
    font-size: 20pt;
    color: grey;
}
span.proj-title
{
    font-size: 20pt;
}

div.quote
{
    border: rgb(199, 199, 199) 1px solid;
    border-radius: 15px;
    color: rgb(199, 199, 199);
    padding: 5px;
}
div.screenshot-container
{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

ul.bigger-text
{
    font-size: 20pt;
}

img.screenshot
{
    width: 100%;
    max-width: 600px;
    margin: 10px;
}
img.screenshot-vert
{
    width: 100%;
    max-width: 280px;
    margin: 10px;
}
